
/* Smartphones, iPhone, portrait 480x320 phones */

@media (max-width: 481px) {
  html {
    font-size: 57%;
  }
}

/* Portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media (max-width: 641px) {
  #header {
    .toggle {
      color: $grey;
      float: right;
      &:after {
        @include icon;
        content: '/';
        margin-left: $gutter/4;
        vertical-align: middle;
      }
      &.active {
        &:after {
          content: '\'';
        }
        + .menu {
          display: block;
        }
      }
    }
    .menu {
      border-bottom: 1px solid $light;
      display: none;
      margin: $gutter 0 (-$gutter);
      a {
        border-top: 1px solid $light;
        display: block;
        padding: 1.5*$gutter/2 0;
        &.active {
          color: inherit;
        }
      }
    }
  }

  #main {
    .content {
      padding-bottom: 3*$gutter;
    }
    .sidebar {
      margin-bottom: $gutter;
      .cancel {
        display: none;
      }
      .swifttype {
        display: none;
      }
      h3 {
        display: none;
      }
      a {
        display: none;
        padding: $gutter/2;
        &.active {
          display: block;
          &:before {
            @include icon;
            content: '/';
            float: right;
          }
        }
        &:hover,
        &:active {
          background: $light;
        }
      }
      &.active {
        background: #FFF;
        border: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
        & + .content {
          height: 0;
          overflow: hidden;
        }
        .cancel {
          display: block;
          float: right;
          padding: 1.5*$gutter/2 $gutter $gutter/2 0;
          &:before {
            @include icon;
            content: 'X';
            @include font-size($large);
          }
          span {
            display: none;
          }
        }
        .swifttype {
          display: block;
          padding: $gutter/2 $gutter;
        }
        h3,
        a {
          border-top: 1px solid $light;
          display: block;
          margin: 0;
          padding: 1.5*$gutter/2 $gutter;
        }
        a {
          padding-left: 2*$gutter;
          &:first-child {
            padding-left: $gutter;
          }
        }
      }
    }
  }
}

/* Portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media (min-width: 481px) and (max-width: 641px) {
  html {
    font-size: 59%;
  }
}

/* Portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media (min-width: 641px) {
  #header {
    @include clearfix;
    .logo {
      position: fixed;
      top: $gutter;
    }
    .toggle {
      display: none;
    }
    .menu {
      float: right;
      @include font-size($small);
      a {
        margin-left: $gutter;
        &.active {
          color: inherit;
        }
      }
    }
  }

  #main {
    padding: $gutter 0;
    .content {
      margin-left: $sidebar + 1.5*$gutter;
    }
    .sidebar {
      @include font-size($smaller);
      bottom: 4*$gutter;
      padding-bottom: $search;
      position: fixed;
      top: $header + $gutter;
      width: $sidebar;
      .cancel {
        display: none;
      }
      .swifttype {
        border-bottom: 1px solid $line;
        box-shadow: rgba(0, 0, 0, 0.01) 0 2px 0 0;
        @include font-size($smaller);
        padding: $gutter/2;
      }
      .menu {
        @include box-sizing(border-box);
        height: 100%;
        overflow-y: auto;
        padding: $gutter/2;
        &::-webkit-scrollbar {
          width: $gutter/4;
        }
        &::-webkit-scrollbar-track {
          background: $light;
          border-radius: 0;
        }
        &::-webkit-scrollbar-thumb {
          background: shade($line, 10%);
          border-radius: 0;
        }
        h3 {
          font-size: inherit;
          margin: $gutter/2 0 $gutter/4;
          &:first-child {
            margin-top: 0;
          }
        }
        a {
          display: block;
          margin-bottom: $gutter/4;
          padding-left: $gutter/2;
          &.active {
            color: $black;
            font-weight: bold;
          }
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}

/* Tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width: 961px) { }

/* Big landscape tablets, laptops, and desktops */

@media (min-width: 1025px) { }

/* Hi-res laptops and desktops */

@media (min-width: 1281px) { }
