{% for val in tree %}
  {% if val.type and val.description %}
    <dt id='details_{{ loop.key }}'>
      {% if parent %}{{ parent }}.{% endif %}<strong>{{ loop.key }}</strong> <span class='type'>{{ val.type }}</span>
    </dt>
    <dd class='description'>{{ val.description }}</dd>
    {% if val.default && val.default != '' %}<dd class='default'>Default: <code>{{ val.default }}</code></dd>{% endif %}
    {% if val.required == true %}<dd class='required'>Required</dd>{% endif %}
  {% endif %}

  {% if not val.type or not val.description or val.options %}
    {% if not parent_prev %}
      {% set parent_prev = [] %}
    {% endif %}
    
    {% if not parent %}
      {% set parent = loop.key %}
    {% else %}
      {% set parent_prev = parent_prev.push(parent) %}
      {% set parent += '.'+ loop.key %}
    {% endif %}

    {% if val.options %}
      {% set tree = val.options %}
      {% if val.type and val.type == 'array' %}
        {% set parent = loop.key | replace('s$', '')%}
      {% endif %}
      <dl>
        {% include "_list_tree.html" %}
      </dl>
    {% else %}
      {% set tree = val %}
      {% include "_list_tree.html" %}
    {% endif %}
    
    {% set parent = parent_prev.pop() %}
  {% endif %}
{% endfor %}