{% for val in tree %}
{% if val.type and val.description and val.type != 'array' %}
<li>
  <a href='#details_{{ loop.key }}'>
    <strong>{{ loop.key }}</strong>:
    {% if val.default %}<i>{{ val.default }}</i>{% else %}<i class='empty'>no default value</i>{% endif %}
  </a>
</li>
{% else %}
<li>
  {% if val.type and val.type == 'array' %}
  <a href='#details_{{ loop.key }}'>
    <strong>{{ loop.key }}</strong>:
  </a>
  <ul class='array'>
    {% set tree = val.options %}
    {% include "_mock_tree.html" %}
  </ul>
  {% else %}
  <strong>{{ loop.key }}</strong>:
  <ul>
    {% set tree = val %}
    {% include "_mock_tree.html" %}
  </ul>
  {% endif %}
</li>
{% endif %}
{% endfor %}