<a href='/' {% if path == '' %} class='active'{% endif %}>Getting started</a>

<h3>How to</h3>
{% set menu = {} %}
{% for item in howto %}
  {% set l_title = item.title | lower %}{% set menu[l_title] = loop.index0 %}
{% endfor %}
{% for i in menu | sort %}
<a href='/{{ howto[menu[i]].path }}' {% if path == howto[menu[i]].path %} class='active'{% endif %}>{{ howto[menu[i]].title }}</a>
{% endfor %}

<h3>Manual</h3>
{% set menu = {} %}
{% for item in manual %}
  {% set l_title = item.title | lower %}{% set menu[l_title] = loop.index0 %}
{% endfor %}
{% for i in menu | sort %}
<a href='/{{ manual[menu[i]].path }}' {% if path == manual[menu[i]].path %} class='active'{% endif %}>{{ manual[menu[i]].title }}</a>
{% endfor %}

<h3>Providers</h3>
{% set menu = {} %}
{% for item in providers %}
  {% set l_title = item.title | lower %}{% set menu[l_title] = loop.index0 %}
{% endfor %}
{% for i in menu | sort %}
<a href='/{{ providers[menu[i]].path }}' {% if path == providers[menu[i]].path %} class='active'{% endif %}>{{ providers[menu[i]].title }}</a>
{% endfor %}

<h3>Services</h3>
{% set menu = {} %}
{% for item in services %}
  {% if item.title %}{% set l_title = item.title | lower %}{% set menu[l_title] = loop.index0 %}{% endif %}
{% endfor %}
{% for i in menu | sort %}
<a href='/{{ services[menu[i]].path }}' {% if path == services[menu[i]].path %} class='active'{% endif %}>{{ services[menu[i]].title }}</a>
{% endfor %}