<ul>

  <li>
    <h3>Manual</h3>
    <ul>
      {% for item in manual | sort %}
      <li><a href='/{{ item.path }}' {% if path == item.path %} class='active'{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <h3>Concepts</h3>
    <ul>
      {% for item in concepts | sort %}
      <li><a href='/{{ item.path }}' {% if path == item.path %} class='active'{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <h3>Services</h3>
    <ul>
      {% for item in services | sort %}
      <li><a href='/{{ item.path }}' {% if path == item.path %} class='active'{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <h3>Providers</h3>
    <ul>
      {% for item in providers | sort %}
      <li><a href='/{{ item.path }}' {% if path == item.path %} class='active'{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
</ul>
