{% for val in tree %}
{% if val.type and val.description %}
<dt>
  <code {% if val.required == true %} class='required'{% endif %}><span class='type {{ val.type }}'>{{ val.type }}</span> {{ loop.key }}</code>
  {% if val.required == false %}<span class='optional'>Optional</span>{% endif %}{% if val.default %}{% if val.required == false %}, {% endif %}<span class='default'>Default: <code>{{ val.default }}</code></span>{% endif %}
</dt>
<dd class='description'>{{ val.description }}</dd>
{% if val.valid_values %}
<dd class='description'>Valid values: {{ val.valid_values }}</dd>
{% endif %}
{% endif %}
{% if val.options %}
<dl>
{% set tree = val.options %}
{% include "_task_tree.html" %}
</dl>
{% endif %}
{% endfor %}