{% for val in tree %}
{% if val.type and val.description %}
<tr>
  <td class='variable {% if val.required == true %} required{% endif %}'><code><span class='type {{ val.type }}'><span>{{ val.type }}</span></span> {% if parent %}{{ parent }}.{% endif %}{{ loop.key }}</code></td>
  <td class='default'><code>{{ val.default }}</code></td>
  <td class='description'>{{ val.description }}</td>
</tr>
{% else %}
{% if not parent %}
{% set parent = loop.key %}
{% else %}
{% set parent_prev = parent %}
{% set parent += '.'+ loop.key %}
{% endif %}
{% set tree = val %}
{% include "_tree.html" %}
{% set parent = parent_prev %}
{% endif %}
{% endfor %}