<ul>
  <li><a href='/'>Getting started</a></li>
  <li><a href='/overview.html'>Overview</a></li>
  <li>
    <h3>References</h3>
    <ul>
      <li><a href='/references/apache.html'>Apache</a></li>
      <li><a href='/references/couchbase.html'>Couchbase</a></li>
      <li><a href='/references/couchdb.html'>CouchDB</a></li>
      <li><a href='/references/dart.html'>Dart</a></li>
      <li><a href='/references/docker.html'>Docker</a></li>
      <li><a href='/references/elasticsearch.html'>ElasticSearch</a></li>
      <li><a href='/references/go.html'>Go</a></li>
      <li><a href='/references/java.html'>Java</a></li>
      <li><a href='/references/memcached.html'>Memcached</a></li>
      <li><a href='/references/mongodb.html'>MongoDB</a></li>
      <li><a href='/references/mysql.html'>MySQL</a></li>
      <li><a href='/references/nginx.html'>Nginx</a></li>
      <li><a href='/references/nodejs.html'>Node.js</a></li>
      <li><a href='/references/openvpn.html'>OpenVPN</a></li>
      <li><a href='/references/python.html'>Python</a></li>
      <li><a href='/references/rabbitmq.html'>RabbitMQ</a></li>
      <li><a href='/references/redis.html'>Redis</a></li>
      <li><a href='/references/ruby.html'>Ruby</a></li>
      <li><a href='/references/uwsgi.html'>uWSGI</a></li>
      <li><a href='/references/varnish.html'>Varnish</a></li>
      <li><a href='/references/xvfb.html'>Xvfb</a></li>
      <li><a href='/references/zeromq.html'>ZeroMQ</a></li>
    </ul>
  </li>
</ul>