<ul>
  {% for val in tree %}
  <li>
    <h3><strong><code>{{ val[0] }}</code></strong>{% if parent %} (<code>{{ parent }}.{{ val[0] }}</code>){% endif %}</h3>
    {% if val[1].type %}
      <p>{{ val[1].description }}</p>
      <table>
        <thead>
          <th>Type</th>
          <th>Default</th>
          <th>Required</th>
        </thead>
        <tbody>
          <tr>
            <td><code>{{ val[1].type }}</code></td>
            <td><code>{{ val[1].default }}</code></td>
            <td><code>{{ val[1].required }}</code></td>
          </tr>
        </tbody>
      </table>
    {% else %}
      {% assign parent = parent %}
      {% assign prev_parent = parent %}
      {% capture parent %}{% if parent %}{{ parent | append: '.' | append: val[0] }}{% else %}{{ val[0] }}{% endif %}{% endcapture %}
      {% assign tree = val[1] %}
      {% include tree.html %}
      {% assign parent = prev_parent %}
    {% endif %}
  </li>
  {% endfor %}
</ul>