<ul>
  {% for item in tree %}
  <li>
    {% if item.subtree %}
      <h4>{{ item.title }}</h4>
      {% assign tree = item.subtree %}
      {% include tree.html %}
    {% else %}
      <h5><code>{{ item.title }}</code></h5>
      <p class='description'>{{ item.description }}</p>
      <ul class='details'>
        <li><strong>Type</strong>: <code>{{ item.type }}</code></li>
        <li><strong>Default</strong>: <code>{{ item.default }}</code></li>
        <li><strong>Required</strong>: <code>{{ item.required }}</code></li>
      </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>