<ul>
  {% for item in tree %}
  <li>
    <h3><strong><code>{{ item.title }}</code></strong>{% if parent %} (<code>{{ parent }}.{{ item.title }}</code>){% endif %}</h3>
    {% if item.subtree %}
      {% assign parent = parent %}
      {% capture parent %}{{ parent | append: item.title }}{% endcapture %}
      {% assign tree = item.subtree %}
      {% include tree.html %}
    {% else %}
      <p>{{ item.description }}</p>
      <table>
        <thead>
          <th>Type</th>
          <th>Default</th>
          <th>Required</th>
        </thead>
        <tbody>
          <tr>
            <td><code>{{ item.type }}</code></td>
            <td><code>{{ item.default }}</code></td>
            <td><code>{{ item.required }}</code></td>
          </tr>
        </tbody>
      </table>
    {% endif %}
  </li>
  {% endfor %}
</ul>