/* Eggshell */

@import '_fonts.scss';

/* Eggshell */

@import 'eggshell';

/* Variables (layout) */

$header: 53px;
$sidebar: 180px;
$width: 960px;

/* General */

body {
  line-height: 150%;
  text-align: center;
}

.icon {
  &:before {
    @include icon();
    @include font-size($large);
  }
  &.error:before {
    color: $red;
    content: 'X';
  }
  &.done:before,
  &.synced:before {
    color: $green;
    content: 'O';
  }
  &.running:before,
  &.syncing:before {
    color: $blue;
    content: 'L';
  }
}

code,
.code {
  .key {
    color: $purple;
  }
  .meta {
    color: tint($black, 30%);
  }
  &.terminal {
    background: tint($black, 10%);
    border-color: tint($black, 5%);
    color: tint($black, 90%);
    .key {
      color: tint($purple, 20%);
    }
    .meta {
      color: tint($black, 70%);
    }
  }
  &.pre {
    display: block;
    padding: $gutter/4 $gutter/2;
    white-space: pre-wrap;
  }
  .type {
    color: $purple;
  }
}

/* Header */

#header {
  background: #FFF;
  border-bottom: 1px solid $line;
  box-shadow: rgba(0, 0, 0, 0.01) 0 2px 0 0;
  left: 0;
  padding: 1.5*$gutter/2 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  .content {
    margin: 0 auto;
    max-width: $width;
    text-align: left;
  }
  .logo {
    a:before {
      @include font-size($large);
      @include icon();
      content: '2';
      float: left;
      font-size: $normal;
      margin-right: $gutter/4;
    }
  }
  .menu {
    float: right;
    @include font-size($small);
    form {
      display: inline;
    }
    input {
      border-radius: $gutter;
      margin: (-$gutter/4) 0;
    }
    a,
    input {
      margin-left: $gutter;
    }
  }
}

#main {
  margin: 0 auto;
  max-width: $width;
  padding: $gutter 0;
  text-align: left;
  .content {
    @include box-sizing(border-box);
    margin-left: $sidebar + $gutter;
    margin-top: $header;
    .header {
      .tags {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          background: #FFF;
          border: 1px solid $line;
          border-radius: $gutter;
          box-shadow: rgba(0, 0, 0, 0.03) 0 1px 0 0;
          display: inline-block;
          margin: 0 $gutter/5 0 0;
          padding: $gutter/5 $gutter/2;
        }
      }
    }
    h1 {
      a {
        color: $grey;
        @include font-size();
        line-height: 1;
        @include tooltip;
        vertical-align: middle;
        &:before {
          @include icon;
          content: '0';
        }
        &:hover {
          color: $blue;
        }
      }
    }
    h2 a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
    h2,
    h3 {
      /* <hack> to avoid header to obscure titles */
      margin-top: -3*$gutter;
      padding-top: 3*$gutter;
      /* <\hack> */
    }
    table {
      td {
        vertical-align: top;
      }
      .code,
      code {
        white-space: nowrap;
      }
    }
    /* HACK BEFORE WE ADD A HELP/ZOOM WIDGET */
    em {
      background: tint($blue, 90%);
      border: 1px solid tint($blue, 80%);
      border-radius: $radius;
      display: block;
      @include font-size($smaller);
      font-style: normal;
      padding: $gutter/4 $gutter/2;
    }
    dl {
      @include font-size($smaller);
      margin: 0 0 $gutter;
      dt {
        border-top: 1px solid tint($line, 40%);
        margin-bottom: $gutter/4;
        padding-top: $gutter/2;
        > code {
          margin-right: $gutter/2;
        }
      }
      dd {
        margin-left: 0;
        padding-bottom: $gutter/2;
        padding-left: $gutter;
        &:last-child {
          border-bottom: 1px solid tint($line, 40%);
        }
        small {
          display: block;
          code {
            font-size: inherit;
          }
        }
      }
      dl {
        border-left: 3px solid tint($line, 40%);
        margin-bottom: 0;
        margin-top: $gutter/2;
        padding-left: $gutter/2;
        dd:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
      h3 {
        color: $grey;
        @include font-size($small);
        margin-top: 0;
        padding-top: 0;
        margin: $gutter/2 0;
        text-transform: uppercase;
      }
      .full {
        background: transparent;
        border: 0;
        color: $grey;
        float: right;
        padding: 0;
      }
      .optional,
      .required {
        color: $orange;
      }
      .default {
        display: block;
        code {
          background: transparent;
          border: 0;
          color: $green;
          line-height: inherit;
          padding: 0;
        }
      }
    }
  }
  .sidebar {
    bottom: $gutter;
    @include font-size($smaller);
    overflow-y: auto;
    position: fixed;
    top: $header + $gutter;
    width: $sidebar;
    &::-webkit-scrollbar {
      width: $gutter/4;
    }
    &::-webkit-scrollbar-track {
      background: $light;
      border-radius: $gutter/4;
    }
    &::-webkit-scrollbar-thumb {
      background: shade($light, 6%);
      border-radius: $gutter/4;
    }
    h3 {
      font-size: inherit;
      margin: $gutter/2 0 $gutter/4;
      &:first-child {
        margin-top: 0;
      }
    }
    a {
      display: block;
      margin-bottom: $gutter/4;
      padding-left: $gutter/2;
      &.active {
        color: $black;
        font-weight: bold;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

/* SwiftType overrides */

@import '_swifttype.scss'; 