/* Eggshell */

@import '_fonts.scss';

/* Eggshell */

@import 'eggshell';

/* Variables (layout) */

$header: 64px;
$search: 50px;
$sidebar: 220px;
$width: 960px;

/* General */

body {
  line-height: 150%;
  text-align: center;
}

.icon {
  &:before {
    @include icon();
    @include font-size($large);
  }
  &.error:before {
    color: $red;
    content: 'X';
  }
  &.done:before,
  &.synced:before {
    color: $green;
    content: 'O';
  }
  &.running:before,
  &.syncing:before {
    color: $blue;
    content: 'L';
  }
}

code,
.code {
  .key {
    color: $purple;
  }
  .meta {
    color: tint($black, 30%);
  }
  &.terminal {
    background: tint($black, 10%);
    border-color: tint($black, 5%);
    color: tint($black, 90%);
    .key {
      color: tint($purple, 20%);
    }
    .meta {
      color: tint($black, 70%);
    }
  }
  &.pre {
    display: block;
    padding: $gutter/4 $gutter/2;
    white-space: pre-wrap;
  }
  .type {
    color: $purple;
  }
}

/* Header */

#header {
  .wrapper {
    @include clearfix();
    margin: 0 auto;
    max-width: $width;
    padding: $gutter 0;
    position: relative;
    text-align: left;
    width: 90%;
  }
  .logo {
    position: fixed;
    top: $gutter;
    a:before {
      @include font-size($large);
      @include icon();
      content: '2';
      float: left;
      margin-right: $gutter/4;
    }
  }
  .signin {
    font-weight: bold;
  }
}

#main {
  margin: 0 auto;
  max-width: $width;
  padding: $gutter 0;
  text-align: left;
  width: 90%;
  .content {
    @include box-sizing(border-box);
    .header {
      .tags {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          background: #FFF;
          border: 1px solid $line;
          border-radius: $gutter;
          box-shadow: rgba(0, 0, 0, 0.03) 0 1px 0 0;
          display: inline-block;
          margin: 0 $gutter/5 0 0;
          padding: $gutter/5 $gutter/2;
        }
      }
    }
    h1 {
      a {
        color: $grey;
        @include font-size();
        line-height: 1;
        @include tooltip;
        vertical-align: middle;
        &:before {
          @include icon;
          content: '0';
        }
        &:hover {
          color: $blue;
        }
      }
    }
    h2 a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
    h2,
    h3 {
      /* Hack to add some space before the anchors */
      margin-top: $gutter;
      padding-top: $gutter;
    }
    table {
      td {
        vertical-align: top;
      }
      .code,
      code {
        white-space: nowrap;
      }
    }
    em {
      background: tint($blue, 90%);
      border: 1px solid tint($blue, 80%);
      border-radius: $radius;
      display: block;
      @include font-size($smaller);
      font-style: normal;
      padding: $gutter/4 $gutter/2;
    }
    dl {
      @include font-size($smaller);
      margin: 0 0 $gutter;
      dt {
        border-top: 1px solid tint($line, 40%);
        margin-bottom: $gutter/4;
        padding-top: $gutter/2;
        > code {
          margin-right: $gutter/2;
        }
      }
      dd {
        margin-left: 0;
        padding-bottom: $gutter/2;
        padding-left: $gutter;
        &:last-child {
          border-bottom: 1px solid tint($line, 40%);
        }
        small {
          display: block;
          code {
            font-size: inherit;
          }
        }
      }
      dl {
        border-left: 3px solid tint($line, 40%);
        margin-bottom: 0;
        margin-top: $gutter/2;
        padding-left: $gutter/2;
        dd:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
      h3 {
        color: $grey;
        @include font-size($small);
        margin-top: 0;
        padding-top: 0;
        margin: $gutter/2 0;
        text-transform: uppercase;
      }
      .full {
        background: transparent;
        border: 0;
        color: $grey;
        float: right;
        padding: 0;
      }
      .optional,
      .required {
        color: $orange;
      }
      .default {
        display: block;
        code {
          background: transparent;
          border: 0;
          color: $green;
          line-height: inherit;
          padding: 0;
        }
      }
    }
  }
  .sidebar {
    border: 1px solid $line;
    border-radius: 2*$radius;
    @include font-size($smaller);
    height: 60%;
    padding-bottom: $search;
    position: fixed;
    top: $header + $gutter;
    width: $sidebar;
    .swifttype {
      border-bottom: 1px solid $line;
      box-shadow: rgba(0, 0, 0, 0.01) 0 2px 0 0;
      padding: $gutter/2;
      input {
        border-radius: $gutter;
        width: $sidebar - 2*$gutter;
      }
    }
    .menu {
      @include box-sizing(border-box);
      height: 100%;
      overflow-y: auto;
      padding: $gutter/2;
      &::-webkit-scrollbar {
        width: $gutter/4;
      }
      &::-webkit-scrollbar-track {
        background: $light;
        border-radius: 0;
      }
      &::-webkit-scrollbar-thumb {
        background: $line;
        border-radius: 0;
      }
      h3 {
        font-size: inherit;
        margin: $gutter/2 0 $gutter/4;
        &:first-child {
          margin-top: 0;
        }
      }
      a {
        display: block;
        margin-bottom: $gutter/4;
        padding-left: $gutter/2;
        &.active {
          color: $black;
          font-weight: bold;
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

/* SUPPORT (CHAT & INTERCOM) */

#support {
  bottom: $gutter;
  color: #FFF;
  cursor: pointer;
  right: $gutter;
  position: fixed;
  &:hover {
    h2 {
      opacity: 1;
    }
    .links {
      opacity: 1;
      padding-bottom: $gutter/5;
      @include transition-property(opacity, padding);
      @include transition-duration(0.2s);
      visibility: visible;
    }
  }
  h2 {
    background: $black;
    border-radius: $radius;
    color: inherit;
    display: inline-block;
    line-height: 1;
    margin: 0;
    opacity: 0.9;
    padding: $gutter/2;
    &:before {
      @include icon;
      content: '0';
    }
    span {
      display: none;
    }
  }
  .links {
    bottom: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    visibility: hidden;
    a {
      background: $black;
      color: white;
      display: block;
      @include font-size($smaller);
      padding: $gutter/2;
      text-align: left;
      white-space: nowrap;
      &:first-child {
        border-radius: $radius $radius 0 0;
      }
      &:last-child {
        border-radius: 0 0 $radius $radius;
      }
      &:hover {
        background: tint($black, 10%);
      }
      &:before {
        @include icon;
        opacity: 0.5;
        margin-right: $gutter/2;
      }
      &.chat:before { content: '0'; }
      &.help:before { content: '='; }
      &.documentation:before { content: '-'; }
    }
  }
}

/* SwiftType overrides */

@import '_swifttype.scss'; 

/* Responsive */

@import '_responsive.scss';
