/* Eggshell */

@import 'eggshell';

/* Variables (layout) */

$sidebar: 200px;
$width: 960px;

/* General */

body {
  text-align: center;
}

/* Layout */

#header,
#main,
#footer {
  
}

/* Header */

#header {
  background: #FFF;
  border-bottom: 1px solid $line;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  .content {
    margin: 0 auto;
    padding: 1.5*$gutter/2 0;
    text-align: left;
    width: $width;
  }
  .search {
    border: 1px solid $line;
    border-radius: $gutter;
    float: right;
    @include font-size($smaller);
    margin: (-$gutter/4) 0;
    padding: $gutter/5 1.5*$gutter/2;
  }
  h2 {
    color: inherit;
    font-size: inherit;
    margin: 0;
    a {
      &:before {
        @include font-size($large);
        @include icon();
        content: '2';
        float: left;
        font-size: $normal;
        margin-right: $gutter/4;
      }
    }
  }
}

/* Main */

#main {
  @include clearfix;
  margin: 0 auto;
  padding-top: 3.5*$gutter;
  text-align: left;
  width: $width;
  .sidebar {
    border-right: 1px solid $line;
    bottom: $gutter;
    float: left;
    overflow-y: auto;
    padding-right: $gutter;
    position: fixed;
    top: 3.5*$gutter;
    width: $sidebar;
    h3 {
      font-size: inherit;
      margin: 0;
    }
    ul {
      list-style: none;
      margin: 0;
      ul {
        margin-left: $gutter/2;
      }
      a.active {
        color: $black;
        font-weight: bold;
      }
    }
  }
  .content {
    margin-left: $sidebar + 2*$gutter;
    h2 {
      /* <hack> to avoid header to obscure titles */
      margin-top: -3*$gutter;
      padding-top: 3*$gutter;
      /* <\hack> */
    }
    table {
      .code,
      code {
        white-space: nowrap;
      }
      .variable {
        .type {
          
          @include tooltip();
          &.string:before {
            content: 'str';
            color: $blue;
          }
          &.object:before {
            content: 'str';
            color: $green;
          }
          &.array:before {
            content: 'arr';
            color: $orange;
          }
          &.integer:before {
            content: 'int';
            color: $purple;
          }
        }
      }
    }
  }
}

