<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}devo.ps{% endblock %}</title>

  <!-- Meta -->
  <link rel='shortcut icon' href='/assets/images/favicon.ico' />
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'/>
  {% if description %}<meta name='description' content='{{ description }}'/>{% endif %}
  
  <!-- CSS -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'> -->
  <link href='/assets/styles.css' rel='stylesheet' type='text/css'/>
</head>
<body>
  <section id='content'>
    {% block content %}{{ contents | safe }}{% endblock %}
  </section>

  <aside id='sidebar'>
    <header class='header'>
      {% include "partials/_header.html" %}
    </header>
    <section class='body'>
      {% include "partials/_menu.html" %}
    </section>
    <footer class='footer'>
      {% include "partials/_footer.html" %}
    </footer>
  </aside>
  
  <!-- JS -->
  <!--[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
  <script type='text/javascript' src='/assets/scripts.js'></script>
	{% if ga %}{% include "partials/_ga.html" %}{% endif %}
  {% if gauges %}{% include "partials/_gauges.html" %}{% endif %}
</body>
</html>
