{% extends 'default.html' %}
{% block title %}{% parent %} &raquo; {{ title }}{% endblock %}

{% block content %}
{% if experimental %}
<div class='warning notification'>This feature is experimental: expect things to break and documentation to be innacurate and change inadvertantly. Use at your own risks.</div>
{% endif %}
<header class='header'>
  <ul class='tags'>
    {% for tag in tags %}
      <li>{{ tag }}</li>
    {% endfor %}
  </ul>

  <h1>{{ title }} {% if documentation %}
  <a href='{{ documentation }}'><span>Official documentation</span></a>
  {% endif %}</h1>  
</header>

<section class='body'>
  {{ contents | safe }}
</section>

{% if tasks %}
<section class='tasks'>
  <h2 id='commands'><a href='#commands'>Commands</a></h2>
  <dl class='commands'>
    {% for task in tasks %}
    <dt>
      devops {{ title | lower }} {{ task.name | safe }}
    </dt>
    <dd>
      {{ task.description | safe }}
      {% if task.options %}
        <h3>Options</h3>
        <table>
        <tr>
          <th>Key</th>
          <th>Description</th>
        </tr>
          {% set tree = task.options %}
          {% include 'partials/_task_tree.html' %}
        </table>
      {% endif %}
    </dd>
    {% endfor %}
  </dl>
</section>
{% endif %}

{% if configuration %}
<section id='configuration'>
  <h2><a href='#configuration'>Configuration</a></h2>

  <ul class='mock'>
    <li>
      <strong>configuration</strong>:
      <ul>
        <li>
          <strong>{{ title | lower }}</strong>:
          <ul class='content'>
            {% set tree = configuration %}
            {% include 'partials/_mock_tree.html' %}
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <dl class='list'>
    {% set tree = configuration %}
    {% include 'partials/_list_tree.html' %}
  </dl>
</section>
{% endif %}

{% if objects %}
<section id='objects'>
  {% for object in objects %}
    <h3 id='object-{{ loop.key }}'><a href='#object-{{ loop.key }}'>{{ loop.key }}</a></h3>
    {{ object.description | safe }}
    {% if object.options %}
    <dl>
      {% set tree = object.options %}
      {% include 'partials/_task_tree.html' %}
    </dl>
    {% endif %}
  {% endfor %}
</section>
{% endif %}

{% endblock %}