{% extends "default.html" %}
{% block title %}{% parent %} &raquo; {{ title }}{% endblock %}

{% block content %}
<header class='header'>
  <ul class='tags'>
    {% for tag in tags %}
      <li>{{ tag }}</li>
    {% endfor %}
  </ul>

  <h1>{{ title }} {% if documentation %}
  <a class='documentation' href='{{ documentation }}'><span>Official documentation</span></a>
  {% endif %}</h1>
  
  
</header>

{% if tasks %}
<section class='tasks'>
  <h2 id='tasks'>Tasks</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Options</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td><code>{{ task.name | safe }}</code></td>
        <td>
          {% if task.options %}
          <dl>
          {% for option in task.options %}
          <dt class='variable {% if option.required == true %} required{% endif %}'><code><span class='type {{ option.type }}'><span>{{ option.type }}</span></span> {% if parent %}{{ parent }}.{% endif %}{{ loop.key }}</code></dt>
          <dd>{{ option.description }}</dd>
          {% endfor %}
          {% else %}-{% endif %}
        </td>
        <td>{{ task.description | safe }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

<section class='body'>
  {{ contents | safe }}
</section>

{% if configuration %}
<section class='configuration'>
  <h2 id='configuration'>Configuration</h2>
  <table>
    <thead>
      <tr>
        <th>Variable</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% set tree = configuration %}
      {% include "partials/_tree.html" %}
    </tbody>
  </table>
</section>
{% endif %}

{% endblock %}