{% extends "default.html" %}
{% block title %}{% parent %} &raquo; {{ title }}{% endblock %}

{% block content %}
<header class='header'>
  <h1>{{ title }}</h1>
</header>

<section class='body'>
  <h2>Sizes</h2>
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>RAM</th>
      {% if sizes[0].disk != 0 %}<th>Disk (GB)</th>{% endif %}
    </thead>
    <tbody>
    {% for size in sizes %}
      <tr>
        <td><code>{{ size.id | safe }}</code></td>
        <td>{{ size.name | safe }}</td>
        <td><code>{{ size.ram | safe }}</code></td>
        {% if size.disk != 0 %}<td><code>{{ size.disk | safe }}</code></td>{% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <h2>Locations</h2>
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      {% if locations[0].country %}<th>Country</th>{% endif %}
    </thead>
    <tbody>
    {% for location in locations %}
      <tr>
        <td><code>{{ location.id | safe }}</code></td>
        <td>{{ location.name | safe }}</td>
        {% if location.country %}<td>{{ location.country | safe }}</td>{% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}