{% extends "default.html" %}
{% block title %}{% parent %} &raquo; {{ title }}{% endblock %}

{% block content %}
<header class='header'>
    <div class='controls'>
        <a href='#'>Permalink</a>{% for link in links %}<a href='{{ link.url }}'>{{ link.title }}</a>{% endfor %}
  </div>

  <h1>{{ title }}</h1>
</header>

<section class='body'>
  <h2>Sizes</h2>
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>RAM</th>
      <th>Disk (GB)</th>
      <th>Price (USD)</th>
      <th>Bandwidth</th>
    </thead>
    <tbody>
    {% for size in sizes %}
      <tr>
        <td><code>{{ size.id }}</code></td>
        <td><code>{{ size.name }}</code></td>
        <td><code>{{ size.ram }}</code></td>
        <td><code>{{ size.disk }}</code></td>
        <td><code>{{ size.price }} (per {{ size.price_per }})</code></td>
        <td><code>{{ size.bandwidth }}</code></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <h2>Locations</h2>
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Country</th>
    </thead>
    <tbody>
    {% for location in locations %}
      <tr>
        <td><code>{{ location.id }}</code></td>
        <td><code>{{ location.name }}</code></td>
        <td><code>{{ location.country }}</code></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}