{% extends "default.html" %}
{% block title %}{% parent %} &raquo; {{ title }}{% endblock %}

{% block content %}

<div class='notification warning'>We currently only support Ubuntu 14.04 LTS images for all providers.</div>

<header class='header'>
  <h1>{{ title }}</h1>
</header>

<section class='body'>
  {{ contents | safe }}
</section>

<section class='defaults'>
  <h2>Default values</h2>
  {% if defaults %}
  <p><em>The following values will be used by default for the provider if the attribute is missing.</em></p>
  <table>
    <thead>
      <th>Attribute</th>
      <th>Value</th>
      <th>Description</th>
    </thead>
    <tbody>
      {% if defaults.image.id and defaults.image.name %}
      <tr>
        <td><code>image</code></td>
        <td><code>{{ defaults.image.id | safe }}</code></td>
        <td>{{ defaults.image.name | safe }}</td>
      </tr>
      {% endif %}
      {% if defaults.location.id and defaults.location.name %}
      <tr>
        <td><code>location</code></td>
        <td><code>{{ defaults.location.id | safe }}</code></td>
        <td>{{ defaults.location.name | safe }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% else %}
    <p><em>This provider has no default values: you must specify size, location and image attributes.</em></p>
  {% endif %}
</section>


<section class='values'>
  <h2>Values</h2>
  <p><em>Use the following values to set your provider's sizes and location attributes.</em></p>

  <h3>Size</h3>
  <table>
    <thead>
      <th>Value</th>
      <th>Name</th>
      <th>RAM</th>
      {% if sizes[0].disk != 0 %}<th>Disk (GB)</th>{% endif %}
    </thead>
    <tbody>
    {% for size in sizes %}
      <tr>
        <td><code>{{ size.id | safe }}</code></td>
        <td>{{ size.name | safe }}</td>
        <td><code>{{ size.ram | safe }}</code></td>
        {% if size.disk != 0 %}<td><code>{{ size.disk | safe }}</code></td>{% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h3>Location</h3>
  <table>
    <thead>
      <th>Value</th>
      <th>Name</th>
      {% if locations[0].country %}<th>Country</th>{% endif %}
    </thead>
    <tbody>
    {% for location in locations %}
      <tr>
        <td><code>{{ location.id | safe }}</code></td>
        <td>{{ location.name | safe }}</td>
        {% if location.country %}<td>{{ location.country | safe }}</td>{% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}