<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} | {{ site.name }}</title>

  <!-- Meta -->
  <link rel='shortcut icon' href='/assets/images/favicon.ico' />
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'/>
  <meta name='description' content='{{ site.description }}'/>
  <meta name='keywords' content='{{ site.keywords | join: ', ' }}{% if page.tags %}, {{ page.tags | join: ', ' }}{% endif %}'/>
  
  <!-- CSS -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'> -->
  <link href='/style.css' rel='stylesheet' type='text/css'/>
</head>
<body>
  <section id='content'>
    {{ content }}
  </section>

  <aside id='sidebar'>
    <header class='header'>
      {% include header.html %}
    </header>
    <section class='body'>
      {% assign menu = site.data.menu %}
      {% include menu.html %}
    </section>
    <footer class='footer'>
      {% include footer.html %}
    </footer>
  </aside>
  
  <!-- JS -->
  <!--[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
  <script type='text/javascript' src='/scripts.js'></script>
	{% if site.ga %}{% include ga.html %}{% endif %}
  {% if site.gauges %}{% include gauges.html %}{% endif %}
</body>
</html>