/* Forms */

form {
  line-height: 140%;
  margin: 0;
  padding: 0;
}

form .field {
  padding: 0 0 $gutter/2;
}

label {
  display: block;
  margin-bottom: $gutter/4;
}

input,
textarea,
select {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:not([type=submit]),
textarea {
  background: $light;
  border: 1px solid $line;
  @include border-radius($radius);
  padding: $gutter/5 $gutter/2;
  @include transition-property(background, border);
  @include transition-duration(0.2s);
  &:hover {
    border-color: shade($line, 20%);
  }
  &:active,
  &:focus {
    background: #FFF;
    border-color: $blue;
    outline: none;
  }
  &[disabled],
  &[disabled=disabled],
  &[disabled=true],
  &[disabled],
  &[readonly=true],
  &[readonly=readonly],
  &[readonly] {
    &:active,
    &:focus,
    &:hover {
      background: $light;
      border-color: $line;
    }
  }
}

.select {
  cursor: pointer;
  & > select {
    @include appearance(none);
    background: #FFF;
    border: 1px solid tint($black, 80%);
    @include border-radius($radius);
    cursor: pointer;
    padding: ($gutter/4) ($gutter/2);
    &:active,
    &:focus {
      border-color: $blue;
      outline: none;
    }
    &[disabled],
    &[disabled=disabled],
    &[readonly=true] {
      background: transparent;
    }
  }
}