@mixin notifications() {
  color: #FFF;
  display: block;
  padding: $gutter/2 1.5*$gutter/2;
  &.error {
    background: $red;
    .close {
      color: shade($red, 30%);
    }
  }
  &.info {
    background: $blue;
    .close {
      color: shade($blue, 30%);
    }
  }
  &.success {
    background: $green;
    .close {
      color: shade($green, 30%);
    }
  }
  &.warning {
    background: $yellow;
    color: shade($yellow, 80%);
    .close {
      color: shade($yellow, 30%);
      &:hover {
        color: shade($yellow, 80%);
      }
    }
  }
  &.loading {
    &:after {
      @include icon();
      content: 'l';
      display: inline-block;
      margin-left: $gutter/2;
      @include spin(1.2s);
    }
  }
  a {
    color: inherit;
    text-decoration: underline;
    &:active,
    &:hover {
      text-decoration: none;
    }
    &.close {
      float: right;
      text-decoration: none;
      &:hover {
        color: #FFF;
      }
      &:before {
        @include icon();
        content: 'x';
      }
      span {
        display: none;
      }
    }
  }
}